# Up/Down searches through history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# Make it show more useful info.
set completion-ignore-case on
set visible-stats on
set show-all-if-ambiguous on
set mark-symlinked-directories on

# Ctrl-E to open the editor, either in rlwrap or other readline-enabled apps.
"\C-e": edit-and-execute-command
"\C-e": rlwrap_call_editor
# Space: magic-space

# Preserve Ctrl+right/left
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
